@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BIZ UDPGothic", sans-serif;
}

.App {
  background-color: rgb(0, 0, 0);
}

.max-12 {
  max-width: 1200px;
  margin: 0 auto;
}
